button.button {
  --bg-color: var(--white-color);
  --content-color: var(--text-color);
  position: relative;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--content-color);
  border: 1px solid transparent;
  border-radius: .375rem;
  padding: 1.2rem 1.5rem;
  line-height: 1.5;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  white-space: nowrap;
  box-shadow: none;
  cursor: pointer;
  transition: all .3s;
}

button.reverse {
  flex-direction: row-reverse;
}

button.outlined {
  background-color: transparent;
  border-color: var(--bg-color);
  color: var(--bg-color);
}

/* Hover state */
button.button:hover {
  filter: brightness(80%);
}

button.outlined:hover {
  background-color: var(--bg-color);
  color: var(--content-color);
}

button[data-state="primary"] {
  --bg-color: var(--primary-color);
  --content-color: var(--white-color);
}

button[data-state="link"] {
  --bg-color: var(--link-color);
  --content-color: var(--white-color);
}

button[data-state="info"] {
  --bg-color: var(--info-color);
  --content-color: var(--white-color);
}

button[data-state="success"] {
  --bg-color:  var(--success-color);
  --content-color: var(--white-color);
}

button[data-state="warning"] {
  --bg-color:  var(--warning-color);
  --content-color: var(--white-color);
}

button[data-state="danger"] {
  --bg-color:  var(--danger-color);
  --content-color: var(--white-color);
}

button.rounded {
  border-radius: 9999px;
}

button.squared {
  border-radius: 0;
}

button.small {
  font-size: .75rem;
}

button.medium {
  font-size: 1.25rem;
}

button.large {
  font-size: 1.5rem;
}

button:disabled {
  background-color: var(--white-color);
  color: var(--text-light-color);
  border-color: var(--grey-color);
  box-shadow: none;
  cursor: not-allowed;
  opacity: .5;
}

button.loading {
  pointer-events: none;
}

button.loading::after {
  content: "";
  display: block;
  border: 2px solid var(--grey-color);
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  height: 1em;
  width: 1em;
  animation: spin .5s infinite linear;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}